<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gorani.vroom.vroompay.VroomPayMapper">

    <insert id="insertPaymentOrder" parameterType="map">
        INSERT INTO PAYMENT_ORDERS (
            amount,
            status,
            paid_at,
            errands_id,
            user_id,
            errander_id
        ) VALUES (
            #{amount},
            #{status},
            NOW(),
            #{errandsId},
            #{userId},
            #{erranderId}
        )
    </insert>

</mapper>
