<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gorani.vroom.errand.review.ReviewMapper">

  <select id="existsReview" resultType="int">
    SELECT COUNT(*)
    FROM REVIEWS
    WHERE errand_id = #{errandsId}
      AND reviewer_user_id = #{reviewerUserId}
  </select>

  <insert id="insertReview">
    INSERT INTO REVIEWS (
      errand_id, rating, comment, created_at,
      reviewer_user_id, reviewee_user_id
    ) VALUES (
      #{errandsId}, #{rating}, #{comment}, NOW(),
      #{reviewerUserId}, #{revieweeUserId}
    )
  </insert>

</mapper>
