<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gorani.vroom.user.auth.LegalDongMapper">

    <select id="selectDongByGu"
            parameterType="string"
            resultType="com.gorani.vroom.user.auth.LegalDongVO">

        SELECT
            dong_code AS dongCode,
            dong_name AS dongName
        FROM LEGAL_DONG
        WHERE gungu_name = #{gu}
        ORDER BY dong_name

    </select>

</mapper>