<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gorani.vroom.admin.users.AdminUsersMapper">

    <select id="getSummary" resultType="map">
        <![CDATA[
            SELECT
                COUNT(*) AS total,
                SUM(CASE WHEN status = 'ACTIVE' THEN 1 ELSE 0 END) AS activated,
                SUM(CASE WHEN status = 'ACTIVE' AND last_login_at >= CURRENT_DATE - INTERVAL 7 DAY THEN 1 ELSE 0 END) AS recent7_activated,
                SUM(CASE WHEN status IN ('SUSPEND', 'BANNED')  THEN 1 ELSE 0 END) AS banned,
                SUM(CASE WHEN status = 'SUSPEND' THEN 1 ELSE 0 END) AS suspended,
                SUM(CASE WHEN status = 'DELETED' THEN 1 ELSE 0 END) AS unsubscribed,
                SUM(CASE WHEN DATE(created_at) = CURRENT_DATE THEN 1 ELSE 0 END) AS today_joined
            FROM MEMBERS;
        ]]>
    </select>

    <select id="searchUsers" parameterType="map" resultType="map">
        <![CDATA[
            SELECT
                m.user_id, m.email, m.nickname, m.status, m.role, m.created_at, m.last_login_at,
                COUNT(r.id) AS report_count
            FROM MEMBERS m LEFT JOIN ISSUE_TICKETS r ON r.target_user_id = m.user_id
            WHERE 1=1
        ]]>
        <if test="keyword != null and keyword != ''">
            AND (
                m.email LIKE CONCAT('%', #{keyword}, '%')
                OR m.nickname LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>

        <if test="role != null and role != ''">
            AND m.role = #{role}
        </if>

        <if test="reportCount != null">
            AND (
                SELECT COUNT(*)
                FROM ISSUE_TICKETS r2
                WHERE r2.target_user_id = m.user_id
            ) >= #{reportCount}
        </if>

        GROUP BY m.user_id, m.email, m.nickname, m.status, m.role, m.created_at, m.last_login_at
        ORDER BY m.created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countUsers" parameterType="map" resultType="int">
        <![CDATA[
            SELECT COUNT(*)
            FROM (
                SELECT m.user_id
                FROM MEMBERS m LEFT JOIN ISSUE_TICKETS r ON r.target_user_id = m.user_id
                WHERE 1=1
        ]]>
            <if test="keyword != null and keyword != ''">
                AND (
                    m.email LIKE CONCAT('%', #{keyword}, '%')
                    OR m.nickname LIKE CONCAT('%', #{keyword}, '%')
                    )
            </if>

            <if test="status != null and status != ''">
                AND m.status = #{status}
            </if>

            <if test="role != null and role != ''">
                AND m.role = #{role}
            </if>

            <if test="reportCount != null">
                AND (
                    SELECT COUNT(*)
                    FROM ISSUE_TICKETS r2
                    WHERE r2.target_user_id = m.user_id
                    ) >= #{reportCount}
            </if>

            <![CDATA[
                GROUP BY m.user_id
                ) t
            ]]>
    </select>


</mapper>